<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @customer.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @customer.country %>
</p>

<p>
  <strong>Height:</strong>
  <%= @customer.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @customer.weight %>
</p>

<p>
  <strong>Blood type:</strong>
  <%= @customer.blood_type %>
</p>

<p>
  <strong>Marriage status:</strong>
  <%= @customer.marriage_status %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @customer.gender %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
